# dependencies
/node_modules

# next.js
/.next/
/.next-dev/
/.next-dev-hifi/
/out/
/out-wire/
/out-test/

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*.local

# typescript
next-env.d.ts

# astro (legacy)
.astro/
